@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&#39');

*{
    font-family: 'Poppins', sans-serif;
}

nav{
  color: black;
}
ul{
    font-size: 1rem;
    color: white;
    display: flex;
    gap: 80px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(90deg, #131E26 60%, #223947, #325A6F);

}

.texto{
    font-size: 3rem;
    color: white;
    width: 500px;
    margin-left: 40px;
    margin-top: 100px;
}
.visualvibe{
    margin-left: 70px;
}

.join{
    background: linear-gradient(90deg, #349054, #57c3f0);
    padding: 20px;
    border-radius: 10px;
    margin-left: 150px;
}



p{
    color: white;
    width: 500px;
    margin-left: 50px;
}

.seta{
    margin-left: 50px;
    margin-top: 10px;
    color: aliceblue;
}

.added{
    color: white;

}

.ui{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 600px;
    flex: 0.1;
}

section{
    display: flex;

}

